@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

/* *, *::before, *::after {
  box-sizing: inherit;
} */

figure {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
}

ul,li,a {
  display: inline-block;
  list-style: none;
  text-decoration: none;
}

body {
  background: #fff;
  width: 100dvw; 
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  scroll-behavior: smooth;
}

.loader {
  width: 85px;
  height: 50px;
  --g1:conic-gradient(from  90deg at left   3px top   3px,#0000 90deg,#fff 0);
  --g2:conic-gradient(from -90deg at bottom 3px right 3px,#0000 90deg,#fff 0);
  background:var(--g1),var(--g1),var(--g1), var(--g2),var(--g2),var(--g2);
  background-position: left,center,right;
  background-repeat: no-repeat;
  animation: l9 1s infinite;
}
@keyframes l9 {
  0%   {background-size:25px 50% ,25px 50% ,25px 50%}
  25%  {background-size:25px 100%,25px 50% ,25px 50%}
  50%  {background-size:25px 50% ,25px 100%,25px 50%}
  75%  {background-size:25px 50% ,25px 50% ,25px 100%}
  100% {background-size:25px 50% ,25px 50% ,25px 50%}
}

.content {
  display: none;
  opacity: 0;
  transition: opacity 1s ease;
}

.content.show {
  display: block;
  opacity: 1;
}

nav {
  width: 100%;
  height: 70px;
  /* background: #3f1313; */
}

header {
  width: 100%; 
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .5rem;
  position: absolute;
  top: 0;
  box-shadow: 0 0 5px #000;
  z-index: 5;
  background: rgba(255, 255, 255, 0.152);
  backdrop-filter: blur(2px);
}

.container-nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 .5rem;
}


.btn-hamburguer  {
  z-index: 1000;
  position: relative;
}

.hamburger .hamburger-inner,
.hamburger .hamburger-inner::before,
.hamburger .hamburger-inner::after {
  background-color: #fff;
  color: #fff;
  z-index: 1000;
  width: 25px;
  height: 2px;
}

.hamburger.is-:hover .hamburger-inner,
.hamburger.is-:hover .hamburger-inner::before,
.hamburger.is-:hover .hamburger-inner::after {
  background-color: #fff; 
  color: #fff;
}

.hamburger--collapse.is-active .hamburger-inner,
.hamburger--collapse.is-active .hamburger-inner::before,
.hamburger--collapse.is-active .hamburger-inner::after {
  background-color: #fff; /* Color rojo cuando está activo */
}

.hamburger .hamburger-inner::before {
  top: -8px;
}

.hamburger--collapse .hamburger-inner:after {
  top: -16px;
}

.menu-list {
  position: fixed;
  z-index: 998;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #000000c5;
  transition: opacity .5s ease, visibility 0s linear .5s;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-list.is-active {
  opacity: 1;
  visibility: visible;
  transition: opacity .5s ease;
}
.menu-list a {
  color: orange;
  font-size: 2em;
}

.content-list {
  opacity: 0;
}

.content-list ul {
  position: absolute;
  display: none;
  flex-direction: column;
}

.content-list a {
  color: white;
  font-size: 1.2rem;
  border-bottom: 2px solid orange;
}

.content-list a:hover {
  color: #ffae00;
}

.menu-list li:hover > .content-list {
  display: block;
  opacity: 1;
  transition: opacity .5s ease;
}

#search-icon {
  width: 40px;
  height: 40px;
  background-color: olivedrab;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

main {
  width: 100%;
  height: 100dvh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

section {
  width: 100%;
  min-height: 100dvh;
  position: relative;
}

#inicio {
  position: relative;
  display: flex;
  overflow: hidden;
}

.fragment-cards {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  display: flex;
}

.presentacion {
  transform-origin: center;
}

.card-container {
  transform-origin: left top;

}

.card {
  position: absolute;
  width: 10rem;
  height: 15rem;
  display: inline-block;
  background-position: 50% 50%;
  border-radius: 10px;
  font-family: 'Oswald', sans-serif;
  color: white;
  overflow: hidden;
  transform-origin: 100% 100%;
  transition: left .5s, right .5s ;
}

.card:nth-child(1),
.card:nth-child(2) {
  left: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  min-height: 100vh;
  box-shadow: none;
}

.card:nth-child(n + 3) {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  bottom: 5%;
  margin-bottom: 10px;
}

.card:nth-child(3) {
  left: 50%;
  transform-origin: 100% 100%;
  transition: left 1s, right 1s;
}

.card:nth-child(4) {
  left: calc(50% + 12rem);
}

.card:nth-child(5) {
  left: calc(50% + 24rem);
}

.card:nth-child(6) {
  left: calc(50% + 36rem);
}

.card:nth-child(n + 7) {
  left: calc(50% + 48rem);
  opacity: 0;
}

.container-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 15%;
  left: 5%;
  /* padding: 5px; */
  text-shadow: 0 0 15px #000;
  z-index: 1;
}

.container-text .place-text {
  font-size: 1.2rem;
  position: relative;
  font-weight: 500;
}

.container-text .mes-text {
  color: orange;
  font-size: 3rem;

}

.container-text .description-text {
  width: 40%;
  font-size: 1rem;
  opacity: 0.9;
  text-shadow: 0 0 10px black;
}

.card:nth-child(n+3) .container-text {
  position: absolute;
  left: 5%;
  /* font-size: 2.5rem; */
  top: 70%;
}

.card:nth-child(n+3) .container-text .place-text {
  font-size: .8rem;
}

.card:nth-child(n+3) .container-text .mes-text {
  font-size: 1.5rem;
}

.card:nth-child(n+3) .container-text .description-text {
  display: none;
}

.card img {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  object-fit: cover;
}


.ctrl-slider {
  color: #000;
  position: absolute;
  display: flex;
  left: 75%;
  bottom: 1%;
  gap: 15px;
  transform: translateX(-50%);
}

#prevButtonSliderMain, #nextButtonSliderMain {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
  height: auto;
  text-align: center;
  background-color:  rgb(107, 142, 35);
  border-radius: 50%;
  cursor: pointer;
}

#prevButtonSliderMain:hover, #nextButtonSliderMain:hover {
  color: #ffae00;
  border-color: #ffae00;
  background-color: #ffae0020;
}
#prevButtonSliderMain svg, #nextButtonSliderMain svg {
  color: white;
}

.header-section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  bottom: -2%;
}

.titulo {
  color: rgb(0, 0, 0);
}

.titulo h1 {
  padding-left: .8rem;
  font-size: 1.2rem;
}

.ver-todo {
  font-size: .8rem;
  background-color: black;
  color: white;
  border-radius: 40px;
  padding: .5rem;
  cursor: pointer;
}

.ver-todo:hover {
  color: orange;
  border: 2px solid orange;
}

.cola {
  position: relative;
  width: 100%;
  height: 10vh;
  background: linear-gradient(to bottom, rgba(73, 65, 50, 0.836) 0%, rgba(74, 65, 4, 0.326) 30%, #ffffff50 );
  border-radius: 0 0 20% 20%;
}

#section2 {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.btnPreviewContainer {
  position: relative;
  bottom: 40%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.text {
  color: white;
  position: relative;
  top: 88%;
  left: 7%;
}

.slider-button {
  font-size: 2rem;
  width: fit-content;
  background: none;
  border: none;
  cursor: pointer;
  transition: all .3s ease;
}

.slider-button:hover {
  fill: orange;
  transform: scale(1.08);
}

.slider-container {
  width: 100%;
  height: 90%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 20px;
  font-size: 1.3rem;
  transition: all 0.3s ease;
}

.container-mes {
  position: relative;
  width: 20%;
  max-width: 100%;
  height: 80%;
  object-fit: contain;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  filter: drop-shadow(0 0 5px black);
  cursor: pointer;
  transition: all .5s ;
}

.container-mes:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 5px rgba(16, 197, 173, 0.752));
}

#section3 {
  /* background: radial-gradient(purple, black); */
  background-color: #fff;
  /* height: 150vh; */
}

.container-grid {
  text-align: right;
  height: 80%;
  padding: 2rem 11%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(200px, 1fr);
  grid-auto-rows: minmax(200px, 1fr);
  gap: 10px;
  grid-template-areas:
      "historia"
      "arquitectura"
      "urbanismo"
      "arte"
      "cultura"
      "literatura"
      "leyendas"
      "musica";
}

.container-grid span {
  padding: 2%;
  font-size: 1.4rem;
  color: black;
  font-weight: bolder;
  text-align: left;
}

.section-grid {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  background-color: rgba(0, 255, 255, 0.418);
  box-shadow: 0 0 5px orange;
  border: 2px solid black;
  color: rgb(28, 9, 9);
  border-radius: 10px;
  image-rendering: auto;
  transition: all 0.3s ease;
  overflow: hidden;
}

.section-grid:hover {
  box-shadow: 0 0 5px white;
  border: 5px solid orange;
}

.section-grid span {
  font-size: 1.5rem;
  position: absolute;
  color: white;
  text-shadow: 0 0 10px #000;
}

.section-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .5s;
}

.section-grid:hover img {
  transform: scale(1.1);
}

#grid-cultura {
  grid-area: cultura;
}

#grid-arquitectura {
  grid-area: arquitectura;
}

#grid-arte {
  grid-area: arte;
}

#grid-historia {
  grid-area: historia;
}

#grid-literatura {
  grid-area: literatura;
}

#grid-urbanismo {
  grid-area: urbanismo;
}

#grid-leyendas {
  grid-area: leyendas;
}

#grid-musica {
  grid-area: musica;
}

#section4 {
  position: relative;
  overflow: hidden;
}

.container-section-articles {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective: 800px;
  background-color: #fff;
  overflow: hidden;
}

.container-primary {
  width: 250px;
  height: 300px;
  margin: 130px auto;
  perspective: 800px;
}

.container-primary:before {
  content: '';
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 75px 20px rgba(0,0,0,0.1),
    inset 0 0 350px 350px rgba(0,0,0,0.1);
  transform: rotateX(95deg) translateZ(-80px) scale(1);
  animation: rotateShadow 16s infinite;
}

.cube-article .primary-article {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.cube-article {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.8s ease-in-out;
  animation: rotate 16s infinite;
}

.cube-article .primary-article:nth-child(1) {
  transform: rotateY(0deg) translateZ(125px);
}
.cube-article .primary-article:nth-child(2) {
  transform: rotateY(90deg) translateZ(125px);
}
.cube-article .primary-article:nth-child(3) {
  transform: rotateY(-90deg) translateZ(125px);
}
.cube-article .primary-article:nth-child(4) {
  transform: rotateY(180deg) translateZ(125px);
}

@keyframes rotate {
  0% { transform:  rotateY(0deg);}
  25% { transform:  rotateY(90deg);}
  50% { transform:  rotateY(180deg);}
  75% { transform:  rotateY(270deg);}
  100% { transform:  rotateY(360deg);}
}
@keyframes rotateShadow {
  0% { transform:  rotateX(95deg) translateZ(-80px) scale(1) rotateZ(360deg);}
  25% { transform:  rotateX(95deg) translateZ(-80px) scale(1) rotateZ(270deg);}
  50% { transform:  rotateX(95deg) translateZ(-80px) scale(1) rotateZ(180deg);}
  75% { transform:  rotateX(95deg) translateZ(-80px) scale(1) rotateZ(90deg);}
  100% { transform:  rotateX(95deg) translateZ(-80px) scale(1) rotateZ(0deg);}
}

.primary-article {
  width: 100%;
  height: 100%;
  background: red;
}

.container-secondary {
  max-width: 100vw;
  height: 250px;
  --duration: 60s;
  display: flex;
  align-items: center;
  /* background: rgba(88, 97, 9, 0.507); */
  white-space: nowrap;
  transform: translateX(0);
  transition: transform 600s linear;
  overflow: hidden; /* Para evitar el desbordamiento */
  position: relative;
}

.slider-articles {
  display: inline-block;
  animation: scroll var(--duration) linear infinite;
  white-space: nowrap; /* Para mantener los elementos en una línea */
}

.container-secondary:hover {
  transform: translateX(-500%);
}

.container-secondary:hover .slider-articles {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


@media (min-width: 480px) {
  .container-primary {
    width: 280px;
    height: 360px;
    margin-bottom: 150px;
  }
  
  .cube-article .primary-article:nth-child(1) {
  transform: rotateY(0deg) translateZ(140px);
  }
  .cube-article .primary-article:nth-child(2) {
    transform: rotateY(90deg) translateZ(140px);
  }
  .cube-article .primary-article:nth-child(3) {
    transform: rotateY(-90deg) translateZ(140px);
  }
  .cube-article .primary-article:nth-child(4) {
    transform: rotateY(180deg) translateZ(140px);
  }
}

@media (min-width: 768px) {
  .logo {
    width: 35vw;
  }

  .btn-hamburguer {
    visibility: hidden;
  }

  .menu-list {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible; 
    background: none;
    gap: 20px;
  }

  .menu-list a {
    font-size: 1.2rem;
  }

  .content-list {
    display: flex;
  }

  .content-list ul {
    display: flex;
    padding: 1rem 3rem 1rem 0;
    background-color: #00000050;
    border: 2px solid #ffae00;
    border-radius: 5px;
    pointer-events: none;
  }

  .container-text .place-text {
    font-size: 2rem;
  }
  .container-text .mes-text {
    font-size: 5rem;
  }
  .container-text .description-text {
    font-size: 1.5rem;
  }

  .container-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "historia arquitectura urbanismo"
      "historia arte arte"
      "literatura cultura musica"
      "leyendas leyendas musica";
    gap: 15px;
  }

}

@media (min-width: 1024px) {
  
}

@media (min-width: 1280px) {
  
}