@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  box-shadow: 0 0 5px #000;
  z-index: 5;
  background: rgba(255, 255, 255, 0.152);
  backdrop-filter: blur(2px);
  overflow-x: hidden;
}

nav {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

nav>ul {
  display: flex;
  width: 100%;
}

ul>li {
  margin: 0 1.5rem;
  padding: 1rem;
  list-style: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

ul>li:hover {
  color: orange;
  transform: scale(1.1);
}

main {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
}

#section1 {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  overflow: hidden;
}

.fragment-cards {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;

}

.card {
  position: absolute;
  width: 17%;
  height: 40%;
  display: inline-block;
  background-position: 50% 50%;
  border-radius: 10px;
  font-family: 'Oswald', sans-serif;
  color: white;
  top: 50%;
  overflow: hidden;
  transition: all 0.5s;
  /* z-index: 1; */
}

.card:nth-child(1),
.card:nth-child(2) {
  left: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
}

.card:nth-child(n+3) {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.card:nth-child(3) {
  left: 50%;
}

.card:nth-child(4) {
  left: calc(50% + 20%);
}

.card:nth-child(5) {
  left: calc(50% + 40%);
}

.card:nth-child(n + 6) {
  left: calc(50% + 60%);
  opacity: 0;
}

.container-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 20%;
  left: 5%;
  padding: 5px;
  font-size: 8.4rem;
  z-index: 1;
}

.container-text .place-text {
  position: relative;
  top: 1%;
  font-size: 3rem;
  font-weight: 400;
}

.container-text .mes-text {
  margin-top: -4%;
  color: orange;
}

.container-text .description-text {
  width: 60%;
  font-size: 2.5rem;
  opacity: 0.9;
  text-shadow: 0 0 10px black;
  
}

.card:nth-child(n+3) .container-text {
  position: absolute;
  left: 5%;
  font-size: 2.5rem;
  top: 70%;
}

.card:nth-child(n+3) .container-text .place-text {
  font-size: 1.6rem;
}

.card:nth-child(n+3) .container-text .description-text {
  display: none;
}

.card img {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  object-fit: cover;
}


.ctrl-slider {
  position: absolute;
  display: flex;
  left: 50%;
  bottom: 2%;
  gap: 20px;
  transform: translateX(-50%);
}

button {
  position: relative;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  text-align: center;
  padding: 0px 10px;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

button:hover {
  color: #ffae00;
  border-color: #ffae00;
  background-color: #ffae0020;
}

.header-section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  bottom: -2%;
}

.logo {
  cursor: pointer;
}

.titulo {
  color: rgb(0, 0, 0);
}

.ver-todo {
  background-color: black;
  color: white;
  border-radius: 40px;
  padding: 1rem;
  cursor: pointer;
}

.ver-todo:hover {
  color: orange;
  border: 2px solid orange;
}

#section2 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.btnPreviewContainer {
  position: relative;
  bottom: 40%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.text {
  color: white;
  position: relative;
  top: 88%;
  left: 7%;
}

.slider-button {
  font-size: 2rem;
  width: fit-content;
  background: none;
  border: none;
  cursor: pointer;
  transition: all .3s ease;
}

.slider-button:hover {
  fill: orange;
  transform: scale(1.08);
}

.slider-container {
  width: fit-content;
  height: 90%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 20px;
  font-size: 1.3rem;
  transition: all 0.3s ease;
}

.container-mes {
  position: relative;
  width: 250px;
  max-width: 100%;
  height: 80%;
  object-fit: contain;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  filter: drop-shadow(0 0 5px black);
  cursor: pointer;
  transition: all 0.3s ease;
}

.container-mes:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 5px rgba(16, 197, 173, 0.752));
}

#section3 {
  background: radial-gradient(purple, black);
  height: 150vh;
}

#section3 .titulo {
  color: white;
}

.container-grid {
  text-align: right;
  height: 80%;
  padding: 2rem 11%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 12px;
  grid-template-areas:
    "historia arquitectura urbanismo"
    "historia arte arte"
    "literatura cultura musica"
    "leyendas  leyendas musica"
}

.container-grid span {
  padding: 2%;
  font-size: 1.4rem;
  color: black;
  font-weight: bolder;
  text-align: left;
}

.section-grid {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  background-color: rgba(0, 255, 255, 0.418);
  border: 2px solid black;
  color: rgb(28, 9, 9);
  border-radius: 10px;
  image-rendering: auto;
  transition: all 0.3s ease;

}

.section-grid span {
  color: white;
}

.section-grid img {
  width: 100%;
  /* Ajustar el ancho de la imagen al 100% del contenedor */
  height: auto;
  /* Mantener la relación de aspecto */
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-grid:hover {
  transform: scale(1.10);
  cursor: pointer;

}

#grid-cultura {
  grid-area: cultura;
  background-image: url('assets/CulturaCopia.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

#grid-arquitectura {
  grid-area: arquitectura;
  background-image: url('assets/ArquitecturaCopia.webp');
  background-size: cover;

}

#grid-arquitectura::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#grid-arquitectura span {
  color: white;
  position: relative;
}

#grid-arte {
  grid-area: arte;
  background-image: url('assets/ArteCopia.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#grid-historia {
  grid-area: historia;
  background-image: url('assets/HistoriaCopia.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#grid-literatura {
  grid-area: literatura;
  background-image: url('assets/Literatura.jpg');
  background-size: cover;
}

#grid-urbanismo {
  grid-area: urbanismo;
  background-image: url('assets/UrbanismoCopia.webp');
}

#grid-leyendas {
  grid-area: leyendas;
  background-image: url('assets/Group\ 3\ \(3\).jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

#grid-musica {
  grid-area: musica;
  background-image: url("assets/Música2.jpg");
  background-position: center;
}