* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 5;
  background: rgba(16, 197, 173, 0.752);
  backdrop-filter: blur(2px);
  overflow-x: hidden;
}

nav {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

nav > ul {
  display: flex;
  width: 100%;
}

ul > li {
  margin: 0 1.5rem;
  padding: 1rem ;
  list-style: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

ul > li:hover {
  color: orange;
  transform: scale(1.1);
}

main {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
}

#section1 {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  overflow: hidden;
}

.fragment-cards {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  
}

.card {
  position: absolute;
  width: 17%;
  height: 40%;
  display: inline-block;
  background-position: 50% 50%;
  border-radius: 10px;
  font-family: 'Oswald', sans-serif;
  color: white;
  top: 50%;
  overflow: hidden;
  transition: all 0.5s;
  /* z-index: 1; */
}

.card:nth-child(1),
.card:nth-child(2) {
  left: 0;
  top: 0;
  transform: translate(0,0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
}
.card:nth-child(n+3) {
  box-shadow: 5px 5px 10px rgba(0, 0, 0,0.5);
}

.card:nth-child(3) {
  left: 50%;
}

.card:nth-child(4) {
  left: calc(50% + 20%);
}
.card:nth-child(5) {
  left: calc(50% + 40%);
}
.card:nth-child(n + 6) {
  left: calc(50% + 60%);
  opacity: 0;
}

.container-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 5%;
  left: 5%;
  padding: 5px;
  font-size: 8.4rem;
  z-index: 1;
}

.container-text .place-text {
  position: relative;
  top: 1%;
  font-size: 3rem;
  font-weight: 400;
}

.container-text .mes-text {
  margin-top: -4%;
  color: orange;
}

.container-text .description-text {
  width: 50%;
  font-size: 3rem;
  opacity: 0.8;
}

.card:nth-child(n+3) .container-text {
  position: absolute;
  left: 5%;
  font-size: 2.5rem;
  top: 70%;
}

.card:nth-child(n+3) .container-text .place-text {
  font-size: 1.6rem;
}

.card:nth-child(n+3) .container-text .description-text {
  display: none;
}

.card img {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  object-fit: cover;
}


.ctrl-slider {
  position: absolute;
  display: flex;
  left: 50%;
  bottom: 2%;
  gap: 20px;
  transform: translateX(-50%);
}
button {
  position: relative;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  text-align: center;
  padding: 0px 10px;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

button:hover {
  color:  #ffae00;
  border-color: #ffae00;
  background-color: #ffae0020;
}

.header-section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  bottom: -2%;
}

.logo {
  cursor: pointer;
}

.titulo {
  color: rgb(0, 0, 0);
}

.ver-todo {
  background-color: black;
  color: white;
  border-radius: 40px;
  padding: 1rem;
  cursor: pointer;
}

.ver-todo:hover {
  color: orange;
  border: 2px solid orange;
}

 #section2 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.btnPreviewContainer {
  position: relative;
  bottom: 40%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.text {
  color: white;
  position: relative;
  top: 88%;
  left: 7%;
}

.slider-button {
  font-size: 2rem;
  width: fit-content;
  background: none;
  border: none;
  cursor: pointer;
  transition: all .3s ease;
}

.slider-button:hover {
  fill: orange;
  transform: scale(1.08);
}

.slider-container {
  width: fit-content;
  height: 90%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 20px;
  font-size: 1.3rem;
  transition: all 0.3s ease;
}

.container-mes {
  position: relative;
  width: 250px;
  max-width: 100%;
  height: 80%;
  object-fit: contain;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  filter: drop-shadow(0 0 5px black);
  cursor: pointer;
  transition: all 0.3s ease;
}

.container-mes:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 5px rgba(16, 197, 173, 0.752));
}

#section3 {
  background: radial-gradient(purple, black);
}

#section3 .titulo {
  color: white;
}

.container-grid {
  height: 80%;
  padding: 2rem 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4,1fr);
  gap: 10px;
  grid-template-areas: 
    "cultura arquitectura urbanismo"
    "cultura arte arte"
    "literatura historia leyendas"
    "musica musica leyendas"
}

.section-grid {
  background-color: rgba(0, 255, 255, 0.418);
  color: white;
  border-radius: 10px;
}

#grid-cultura {
  grid-area: cultura;
}
#grid-arquitectura {
  grid-area: arquitectura;
}
#grid-arte {
  grid-area: arte;
}
#grid-historia {
  grid-area: historia;
}
#grid-literatura {
  grid-area: literatura;
}
#grid-urbanismo {
  grid-area: urbanismo;
}
#grid-leyendas {
  grid-area: leyendas;
}
#grid-musica {
  grid-area: musica;
}